<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
	    <add key="url" value="http://192.188.0.13:9092/FMDI/SMT/FTSTDCHECK.ashx" />
		<add key="customer" value="SMT" />
		<add key="group" value="ATE" />
		<add key="site" value="CD10" />
		<add key="line" value="CD2SMTA" />		
		<add key="Judgement" value="Test" /> <!DoNotTest_Pass DoNotTest_Fail Test Panic>
		<add key="station_check" value="On" /> <!On Off>	
	</appSettings>
	<fail_count>
	    <add key="stop_num" value="3" />
	    <add key="fail_num" value="0" />
	</fail_count>
</configuration>
